@using GtRacingNews.ViewModels.Race
@model List<ViewAllRacesViewModel>

@{
    <div class="first">
        <div style="margin-top:15px">
            <table style="width: 350px;">
                <th style="border: 1px solid black; background-color: white">GT World challenge Europe</th>
                @foreach (var race in Model)
                {
                    if (@race.ChampionshipName == "GT Europe Challenge By Fanatec")
                    {
                        <tr style="border: 1px solid black; background-color: white">
                            <td style="border: 1px solid black; background-color: white">
                                @race.Name - @race.Date
                            </td>
                            @if (@race.HasFinishied)
                            {
                                <td>yesa</td>
                            }
                        </tr>
                    }
                }
            </table>
        </div>

        <div style="margin-top:15px">
            <table style="width: 350px;">
                <th style="border: 1px solid black; background-color: white">Super GT</th>
                @foreach (var race in Model)
                {
                    if (@race.ChampionshipName == "Super GT")
                    {
                        <tr style="border: 1px solid black; background-color: white">
                            <td style="border: 1px solid black; background-color: white">
                                @race.Name - @race.Date
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>

    <div class="second">
        <div style="margin-top:15px">
            <table style="width: 350px;">
                <th style="border: 1px solid black; background-color: white">British GT</th>
                @foreach (var race in Model)
                {
                    if (@race.ChampionshipName == "British GT")
                    {
                        <tr style="border: 1px solid black; background-color: white">
                            <td style="border: 1px solid black; background-color: white">
                                @race.Name - @race.Date
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>

        <div style="margin-top:15px">
            <table style="width: 350px;">
                <th style="border: 1px solid black; background-color: white">International GT Open</th>
                @foreach (var race in Model)
                {
                    if (@race.ChampionshipName == "International GT Open")
                    {
                        <tr style="border: 1px solid black; background-color: white">
                            <td style="border: 1px solid black; background-color: white">
                                @race.Name - @race.Date
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>








}


<link rel="stylesheet" href="~/css/RaceCss/All.css"></link>