@model GtRacingNews.ViewModels.Profile.MyProfileViewModel

<div class="child" id="profilePicture">
    <img src="@Model.ProfilePicture"></img>
</div>

<div class='child'>
    <p>Age: @Model.Age</p>
    <p>From: @Model.Address</p>
    <p>Email: @Model.Email</p>
</div>

<div id="myItems">
    <br />
    <div class="box" style="margin-left: 15px; margin-right: 15px">
        <h2 style="text-align:center; font-size: 30px">MY TEAMS</h2>
    </div>

    <div class="row" style="margin-left: 15px;">
        @foreach (var team in Model.Teams)
        {
            <div class="card" style="width: 20rem; margin-left: 80px; margin-top: 10px; margin-bottom: 10px;">
                <img src="@team.LogoUrl" class="card-img-top" style="height: 200px;">
                <div class="card-body">
                    <h5 class="card-title"><strong>Name:</strong> @team.Name</h5>
                    <h5 class="card-title"><strong>Car:</strong> @team.CarModel</h5>
                    <h5 class="card-title"><strong>Drivers:</strong> @string.Join(", ", @team.Drivers)</h5>
                    <h5 class="card-title"><a href="/Profile/Delete?id=@team.Id&collection=@Model.DeleteViewModel.CollectionNames.TeamCollection" class="btn btn-primary">Delete</a></h5>
                </div>
            </div>
        }
    </div>

    <div class="box" style="margin-left: 15px; margin-right: 15px">
        <h2 style="text-align:center; font-size: 30px">MY CHAMPIONSHIPS</h2>
    </div>

    <div class="row" style="margin-left: 15px;">
        @foreach (var championship in Model.Championships)
        {
            <div class="card" style="width: 20rem; margin-left: 80px; margin-top: 10px; margin-bottom: 10px;">
                <img src="@championship.LogoUrl" class="card-img-top" style="height: 200px;">
                <div class="card-body">
                    <h5 class="card-title"><strong>Name:</strong> @championship.Name</h5>
                    <h5 class="card-title"><strong>Teams:</strong> @string.Join(", ", @championship.Teams)</h5>
                    <h5 class="card-title"><a href="/Profile/Delete?id=@championship.ChampionshipId&collection=@Model.DeleteViewModel.CollectionNames.ChampionshipCollection" class="btn btn-primary">Delete</a></h5>
                </div>
            </div>
        }
    </div>



    <div class="box" style="margin-left: 15px; margin-right: 15px">
        <h2 style="text-align:center; font-size: 30px">MY DRIVERS</h2>
    </div>

    <div class="row" style="margin-left: 15px;">
        @foreach (var driver in Model.Drivers)
        {
            <div class="card" style="width: 18rem; margin-left: 80px; margin-top: 10px; margin-bottom: 10px;">
                <img src="@driver.ImageUrl" class="card-img-top" style="height: 250px; width: 250px">
                <div class="card-body">
                    <h5 class="card-title">Name: @driver.Name</h5>
                    <h5 class="card-title">Age: @driver.Age</h5>
                    <h5 class="card-title">Cup: @driver.Cup</h5>
                    <h5 class="card-title"><a href="/Profile/Delete?id=@driver.DriverId&collection=@Model.DeleteViewModel.CollectionNames.DriverCollection" class="btn btn-primary">Delete</a></h5>
                </div>
            </div>
        }
    </div>



    <div class="box" style="margin-left: 15px; margin-right: 15px">
        <h2 style="text-align:center; font-size: 30px">MY NEWS</h2>
    </div>

    <div class="row" style="margin-left: 15px;">
        @foreach (var news in Model.News)
        {
            <div class="card" style="width: 18rem; margin-left: 80px; margin-top: 10px; margin-bottom: 10px;">
                <img src="@news.ImgUrl" class="card-img-top" style="height:10rem;">
                <div class="card-body">
                    <h5 class="card-title">@news.Heading</h5>
                    <h5 class="card-title"><a href="/All/NewsDetails?id=@news.Id" class="btn btn-primary">Read...</a></h5>
                    <h5 class="card-title"><a href="/Profile/Delete?id=@news.Id&collection=@Model.DeleteViewModel.CollectionNames.NewsCollection" class="btn btn-primary">Delete</a></h5>
                </div>
            </div>
        }
    </div>



    <div class="box" style="margin-left: 15px; margin-right: 15px">
        <h2 style="text-align:center; font-size: 30px">MY RACES</h2>
    </div>

    <div class="row">
        <ul class="list-group">
            @foreach (var race in Model.Races)
            {
                <li class="list-group-item" style="width: 200px; margin-left: 100px">@race.Name - @race.Date <a href="/Profile/Delete?id=@race.Id&collection=@Model.DeleteViewModel.CollectionNames.RaceCollection" class="btn btn-primary">Delete</a></li>
            }
        </ul>
    </div>
    <br />
</div>

<link rel="stylesheet" href="~/css/ProfileCss/MyProfile.css"></link>