  @model GtRacingNews.ViewModels.User.RegisterUserFormModel

<h1 style="text-align:center; color:white">Create an account</h1>

<div class="box">
    <form method="post">
        <table style="height: 300px">

            <tr>
                <td>
                    <label asp-for="@Model.Email"></label>
                </td>
                <td width="300px">
                    <input asp-for="@Model.Email" class="form-control" placeholder="Must end with @@email.com">
                </td>
            </tr>

            <tr>
                <td>
                    <label asp-for="@Model.Password"></label>
                </td>
                <td>
                    <input type="password" asp-for="@Model.Password" class="form-control" placeholder="Must be at least 6 symbols">
                </td>
            </tr>

            <tr>
                <td>
                    <label asp-for="@Model.ConfirmPassword"></label>
                </td>
                <td>
                    <input type="password" asp-for="@Model.ConfirmPassword" class="form-control">
                </td>
            </tr>

            <tr>
                <td>
                    <label asp-for="@Model.Username"></label>
                </td>
                <td>
                    <input asp-for="@Model.Username" class="form-control" placeholder="Must be at least 6 symbols">
                </td>
            </tr>

            <tr>
                <td>
                    <p>Submit</p>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </td>
            </tr>

        </table>
    </form>
</div>

<link rel="stylesheet" href="~/css/Add.css"></link>

